#back {
	/* height: 1080px;
			width: 1920px; */
	background: url(../image/49bcb0fb6b5703cdaa9a62646375d6a8.jpeg);
	background-size: cover;
	text-align: center;

}

.p {
	color: red;
	margin-left: 20px;
	display: inline-block;
}

.c {
	color: red;
	margin-left: 4px;
	display: inline-block;
}

.l {
	font-size: 18px;
}

.d {
	height: 35px;
	width: 300px;
	display: inline;
}

.i {
	height: 30px;
	width: 300px;
}




